// Typography
$font-family-sans-serif: 'Myriad Pro Boldcondit', sans-serif;
$font-family-semibold: 'Myriad Pro Bold Semi Extended';
$font-family-light: 'Myriad Pro Light O';
$font-family-regular: 'Myriad Pro Regular';
$font-family-roboto: "'Roboto', sans-serif";

// Colors
$black: #000000;
$white: #ffffff;
